<!DOCTYPE html>
<html>

<head>
    <title>Plane</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body ng-app='heli' ng-controller='planecon' ng-cloak>
    <div id='plane-main' style='transform: translateZ(-100px) rotateX({{m.y}}deg) rotateY({{m.x}}deg);'>
        <div id='p-fuse'>
            <div class='fuse-panel'>r</div>
            <div class='fuse-panel'>l</div>
            <div class='fuse-panel'>b</div>
            <div class='fuse-panel'>t</div>
        </div>
        <div id='wing-main'>
            <div id='wing-front'></div>
            <div id='wing-top-front'></div>
            <div id='wing-top-back'></div>
            <div id='left-ailer' class='ailer' style='transform:translateY(110px) translateX(460px) rotateX({{leftAil}}deg)'>
                <div class='ailer-top'></div>
                <div class='ailer-bottom'></div>
            </div>
            <div id='right-ailer' class='ailer' style='transform:translateY(110px) rotateX({{rightAil}}deg)'>
                <div class='ailer-top'></div>
                <div class='ailer-bottom'></div>
            </div>
        </div>
        <div id='tail-main'>
            <div id='vert-stab'>
                <div id='rud' style='transform: translateY(15px) translateX(-110px) rotateX({{rud}}deg);'></div>
            </div>
            <div id='elev' style='transform:translateY(90px) rotateX({{elev}}deg);'></div>
        </div>
    </div>
    <script src='https://cdn.socket.io/socket.io-1.2.0.js'></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bootbox.js/bootbox.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="./js/all.min.js"></script>
</body>

</html>
