<!DOCTYPE html>
<html>

<head>
    <title>Plane</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body ng-app='heli' ng-controller='planecon' ng-cloak>
    <div class='col-md-6 col-md-offset-3 panel panel-primary' ng-show='!phoneId'>
        <div class='panel-heading'>Setup</div>
        <div class='panel-body'>
            <h3>Enter a Phone ID Code &#128241;</h3>
            <hr/>
            <div class='row'>
                <div class='col-md-3 col-md-offset-2'>
                    <label for='phone-id-cand'>Phone ID Code &#128241;</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="phone-id-cand" ng-model='phoneIdCand' ng-change='testPhone()' />
                </div>
                <div class='col-md-1'>
                    <button class='btn btn-sm btn-danger' ng-click='explCode()'>?</button>
                </div>
            </div>
            <div class='row' ng-show='phoneValid==false'>
                <div class='alert alert-danger'>ERROR: This code is either already being used, or is not a valid code! Please pick another!</div>
            </div>
            <div class='row'>
                <hr>
                <button class='btn btn-primary btn-lg col-md-offset-5' ng-disabled='!phoneValid' ng-click='submitCode();'>&#128241; Use Code</button>
            </div>
        </div>
    </div>
    <div id='plane-main' style='transform: translateZ(-100px) rotateX({{m.y}}deg) rotateY({{m.x}}deg);' ng-show='phoneId'>
        <div id='p-fuse'>
            <div class='fuse-panel'>r
                <div class='wheel' id='whl-right'></div>
            </div>
            <div class='fuse-panel'>l
                <div class='wheel' id='whl-left'></div>
            </div>
            <div class='fuse-panel'>b</div>
            <div class='fuse-panel'>t</div>
            <div id='fuse-front'>
                <div id='prop-shaft' style='transform: rotateZ({{propRot}}deg);'>
                    <div id='prop-cyl-anchor'></div>
                    <div id='propeller-left' style='filter:blur({{15*throt/200}}px)'></div>
                    <div id='propeller-right' style='filter:blur({{15*throt/200}}px)'></div>
                </div>
            </div>
        </div>
        <div id='wing-main'>
            <div id='wing-front'></div>
            <div id='wing-top-front'></div>
            <div id='wing-top-back'></div>
            <div id='left-ailer' class='ailer' style='transform:translateY(110px) translateX(460px) rotateX({{leftAil}}deg)'>
                <div class='ailer-top'></div>
                <div class='ailer-bottom'></div>
            </div>
            <div id='right-ailer' class='ailer' style='transform:translateY(110px) rotateX({{rightAil}}deg)'>
                <div class='ailer-top'></div>
                <div class='ailer-bottom'></div>
            </div>
        </div>
        <div id='tail-main'>
            <div id='vert-stab'>
                <div id='rud' style='transform: translateY(15px) translateX(-110px) rotateX({{rud}}deg);'></div>
            </div>
            <div id='elev' style='transform:translateY(90px) rotateX({{elev}}deg);'></div>
        </div>
    </div>
    <div id='world' ng-show='phoneId' style='transform:translateZ(1000px) rotateZ({{worldRot.z}}deg) rotateX({{worldRot.x}}deg) rotateY({{worldRot.y}}deg);'>
        <div id='world-inner'>
            <div id='ground' style='background-position:{{groundDisp.x||0}}px {{groundDisp.y||0}}px;'>
                <div class='world-wall'></div>
                <div class='world-wall'></div>
                <div class='world-wall'></div>
                <div class='world-wall'></div>
            </div>
        </div>
    </div>
    <script src='https://cdn.socket.io/socket.io-1.2.0.js'></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bootbox.js/bootbox.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="./js/all.min.js"></script>
</body>

</html>
